@bottomBarHeight: 40px;
@chatEntryHeight: 82px;
@transitionLength: 0.4s;

body {
  margin: 0 auto;
}

blockquote { 
  border-left:5px solid #888;
  
  p {
    font-weight:normal;
    font-size:14px;
    line-height:20px;
  }
}

#app-container {
  position:absolute;
  overflow:hidden;
  width:100%;
  top:0px;
  bottom:0px;
}

#chat-container {
  position:absolute;
  top:0px;
  bottom:@bottomBarHeight;
  width:100%;
  box-sizing:border-box;
  padding:5px;

  overflow:scroll;
  -webkit-overflow-scrolling:touch;

  &.withChatEntry {
    bottom:@chatEntryHeight;
  }
}

.chatbox {
  border:1px #000 solid;
  box-sizing:border-box;
  margin-bottom:10px;
  overflow-x:hidden;
  .header {
    font-weight:bold;
    background-color: #ccc;
    border-bottom:1px #000 solid;
    padding:3px;
  }

  .messages {
    padding:3px;

    .name {
      font-weight:bold;
    }
  }
}

#chat-entry { 
  position:absolute;
  bottom:-@chatEntryHeight;
  background-color:#ddd;
  border-top:1px solid #000;
  width:100%;
  height:@chatEntryHeight;
  padding:5px;
  box-sizing:border-box;

  -webkit-transition: bottom @transitionLength;
  -webkit-transform: translate3d(0,0,0);

  .stream-selector, .subject-entry {
    // todo: make this 50%
    width: 48%;
    float:left;
  }

  .bottom {
    clear:both;
  }

  .left {
    float:none;
    width:auto;
    overflow:hidden;
    input.message-entry {
      width:100%;
      resize:none;
    }
    margin-bottom:0;
    padding-right:20px;
  }

  .right {
    float:right;
    height:30px;
  }
}

#chat-entry.visible {
  bottom:0px;
}


#bottom-bar {
  position:absolute;
  bottom:0px;
  width:100%;
  height:@bottomBarHeight;
  background-color:#ddd;
  border-top:1px solid #000;

  -webkit-transition: bottom @transitionLength;
  -webkit-transform: translate3d(0,0,0);

  h2 {
    margin:0px;
    padding-left:5px;
    font-size:24px;
    float:left;
  }

  .right {
    float:right;
    margin-top:2px;
    margin-right:5px;
  }

  .buttons-container {
    display:none;
    i {
      font-size:24px;
    }
  }

  #lost-connection {
    display:none;
    margin-top:4px;
  }

  #loading-spinner {
    i {
      font-size:36px;
    }
  }
}

#bottom-bar.hidden {
  bottom:-@bottomBarHeight;
}

#body-content {
  padding:5px;
}
