@import "../bootstrap/css/bootstrap.css";
@import "../bootstrap/css/bootstrap-responsive.css";

body {
}

#chat-container {
  max-width:600px;
  margin: 0 auto;
}

.chatbox {
  .header .username {
    font-weight:bold;
  }
}
