{% extends "base.html" %}

{% block head %}
<script>
  // this totally blows in like 80 different ways, but requirejs is stupid and
  // won't support ?querystrings on data-main for some dumb reason.
  // problem with urlArgs is that applies to ANY required module, and tornado
  // has different version #s for each file, so we just use a single timestamp

  var chatUrl = "{{static_url("javascripts/chat.js")}}";
  var urlArgs = chatUrl.split("?")[1];
  var require = { urlArgs: "v=" +  (new Date()).getTime() };  
</script>
<script data-main="/static/javascripts/chat.js" src="static/javascripts/lib/require.js"></script>
{% end %}

{% block content %}
<div id="chat-container">
</div>
<div id="chat-entry">
  <form id="send">
    <div class="top">
      <select class="stream-selector" disabled></select>
      <input disabled type="text" class="subject-entry" placeholder="Subject">
    </div>
    <div class="bottom">
      <div class="right">
        <input disabled type="submit" class="btn btn-primary submit" name="Submit" value="Send" />
      </div>
      <div class="left">
        <input disabled type="text" class="message-entry" placeholder="Enter your message here" />
      </div>
    </div>
  </form>
</div>
<div id="bottom-bar">
  <h2>Humbug</h2>
  <div class="buttons-container btn-group">
    <button class="btn" id="reply"><i class='icon-pencil'></i></button>
    <button class="btn"><i class='icon-list-ul'></i></button>
  </div>
  <div id="loading-spinner">
    <i class="icon-spinner icon-spin"></i>
  </div>
</div>
{% end %}
