{% extends "base.html" %}

{% block head %}
<script>
$(function() {
  $("#submit-login").click(function(e) {
    e.preventDefault();
    var email = $("#email").val();
    var apiKey = $("#api-key").val();
    if (email && apiKey) {
      $.post("/login", {
        api_key: apiKey,
        email: email
      }, function(data, textStatus) {
        window.location.reload();
      })
      .error(function(error) {
        alert("Error logging in. Recheck your email and API key.")
      });
    }
  });
});
</script>
{% end %}

{% block content %}

<div id="body-content">
<h2>Humbug Mobile</h2>

<p>Input your login details here:</p>

<form class="form">
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="email" id="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="api-key"><a target="_blank" href="https://humbughq.com/#settings/">API Key</a> (goes to Humbug site)</label>
    <div class="controls">
      <input type="text" id="api-key" placeholder="API Key">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button id="submit-login" type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>

</div>

{% end %}
